@import '_variables';

.opacity-transition {
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
 }

 .btn-social {
     max-width: 20rem;
 }

 .alert-danger {
    padding: 0.5rem;
    text-align: center;
}

h1,h2,h3{
    color: $primary-color;
}

h4,h5,h6{
    color: $accent-color-dark;
}