.imaginary_container {
  margin-top: 80px;
  margin-bottom: 40px;
}

.stylish-input-group .input-group-addon {
  background: white;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  display: inline;
  font-size: 18px;
  height: 44px;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}