.loading-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    // margin: 0 45%;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    z-index: 1000;
}

.spinner-wrapper {
    max-width: 50%;
}