<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Stream That Movie</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li><a routerLink="/home">Home</a></li>
        <li><a *ngIf="!UserService?.currentUser?.email" href="/home/login">Login or Signup</a></li>
        <li class="dropdown" *ngIf="UserService?.currentUser?.email">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{UserService?.currentUser?.email}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/home/favorites">Favorites</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a class="alert-danger" (click)="delete()">Delete Account</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>