<div class="row" class="view-container">

  <div class="col-md-1"></div>
  <div class="col-md-4">

    <!-- LOGIN -->
    <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <fieldset>
        <legend>Login</legend>
        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">E-mail / Username</label>
          <div class="controls">
            <input class="input-xlarge" type="text" name="email" ngModel #email="ngModel" autofocus ng-model="signinEmail" (keyup)="loginErrorOpacity = 0">
            <p class="help-block">Email Address used during account creation</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Password-->
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input class="input-xlarge" required type="password" name="password" ngModel #password="ngModel" ng-model="signinPassword" (keyup)="loginErrorOpacity = 0">
            <p class="help-block">Enter your password</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button [disabled]="!loginForm.valid" md-raised-button color="primary">login</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="padding-top">
      <a href="auth/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
      <!-- <a href="auth/twitter" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
                <a href="auth/google" class="btn btn-block btn-google btn-social"><i class="fa fa-google"></i>Sign in with Google</a>
                <a href="auth/github" class="btn btn-block btn-github btn-social"><i class="fa fa-github"></i>Sign in with GitHub</a>
                <a href="auth/linkedin" class="btn btn-block btn-linkedin btn-social"><i class="fa fa-linkedin"></i>Sign in with Linkedin</a>
                <a href="auth/instagram" class="btn btn-block btn-instagram btn-social"><i class="fa fa-instagram"></i>Sign in with Instagram</a> -->
    </div>
    <div class="padding-top opacity-transition" [style.opacity]="loginErrorOpacity">
      <p *ngFor="let error of loginError" class="alert-danger container-fluid">{{error.msg}}</p>
    </div>
    <br>

    <!-- END LOGIN -->

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <!-- SIGNUP -->
    <form class="form-horizontal" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)" method="post">
      <fieldset>
        <legend class="">Create Account</legend>
        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input class="input-xlarge" required type="text" name="email" ngModel #email="ngModel" ng-model="email" (keyup)="signupErrorOpacity = 0">
            <p class="help-block">Your Email Address will become your username</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Password-->
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input class="input-xlarge" required type="password" name="password" ngModel #password="ngModel" ng-model="password" (keyup)="signupErrorOpacity = 0">
            <p class="help-block">Your password should be at least 6 characters</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Password -->
          <label class="control-label" for="password_confirm">Password (Confirm)</label>
          <div class="controls">
            <input class="input-xlarge" required type="password" name="password_confirm" ngModel #password_confirm="ngModel" ng-model="passwordConfirm"
              (keyup)="signupErrorOpacity = 0">
            <p class="help-block">Please confirm your password</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button [disabled]="!signupForm.valid" md-raised-button color="primary">Signup</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="padding-top opacity-transition" [style.opacity]="signupErrorOpacity">
      <p *ngFor="let error of signupError" class="alert-danger container-fluid">{{error.msg}}</p>
    </div>

    <!-- END SINGUP -->

  </div>
  <div class="col-md-1"></div>

</div>